<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" *ngIf="!isEditMode">Add Order</h2>
      <h2 class="modal-title" *ngIf="isEditMode">Edit Order</h2>
    </div>

    <div class="modal-body">
      <!-- Driver Dropdown -->
<label for="Meal">Meal Type</label>
<select id="Meal" [(ngModel)]="MealType" name="Meal" required>
  <option value="" disabled>-- Select Meal Type --</option>
  <option *ngFor="let m of Meal" [value]="m.Meal">{{ m.Meal }}</option>
</select>

<label for="Quantity">Quantity</label>
<input
  id="Quantity"
  [(ngModel)]="Quantity"
  name="Quantity"
  type="number"
  class="form-control"
  type="number"/>

<label *ngIf="isEditMode" for="Status">Status</label>
<input *ngIf="isEditMode" 
  id="Status"
  [(ngModel)]="Status"
  name="Status"
  type="text"
  class="form-control"
  type="text"/>

<label for="MealDateTime">Choose Date</label>
<input
  id="MealDateTime"
  [(ngModel)]="MealDateTime"
  name="MealDateTime"
  type="date"
  class="form-control"
  type="date"/> 

<!-- Comment Box -->
      <label for="Remarks">Remarks</label>
      <textarea
        id="Remarks"
        [(ngModel)]="Remarks"
        name="Remarks"
        rows="4"
        placeholder="Write your Remarks..."
        class="form-control"
  type="text"></textarea>
    </div>

<div class="modal-footer">
<button *ngIf="!isEditMode" (click)="submitFeedback()" class="submit-btn">
Submit
</button>

<button *ngIf="isEditMode" (click)="UpdateOrder()" class="submit-btn">
  Update
</button>

<button mat-button (click)="closeDialog()" class="close-btn">
  Close
</button>
</div>
</div>
