<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Add Feedback</h2>
    </div>

    <div class="modal-body">
     <label for="comment">Service</label>
      <textarea
        id="Service"
        [(ngModel)]="Service"
        name="Service"
        rows="1"
        placeholder=""
      ></textarea>

      <!-- Star Rating -->
      <label>Rating</label>
      <div class="stars">
        <span
          *ngFor="let star of [1,2,3,4,5]"
          (click)="setRating(star)"
          (mouseover)="hoverRating = star"
          (mouseleave)="hoverRating = 0"
          [class.filled]="star <= (hoverRating || rating)"
          style="cursor: pointer; font-size: 24px; user-select: none;"
        >
          ★
        </span>
      </div>

      <!-- Comment Box -->
      <label for="comment">Comment</label>
      <textarea
        id="comment"
        [(ngModel)]="comment"
        name="comment"
        rows="4"
        placeholder="Write your feedback..."
      ></textarea>

            <!-- Suggestion Box -->
    </div>

<div class="modal-footer">
  <button
    (click)="submitFeedback()"
    class="submit-btn">
    Submit
  </button>

  <button mat-button (click)="closeDialog()" class="close-btn">
    Close
  </button>
</div>
</div>
